<html>
  <head></head>
  <body>
    <h1><%= @space.name %></h1>
    <p>
    <div>
      <%= @space.description %>
    </div>
    <div>
      Pick a night: <%= @space.available_dates.split(",").join("\n")%>
    </div>
    </p>
  </body>
</html>