<html>
  <head></head>
  <body>
    <a href='/spaces'>Go back to the listings page</a> | <a href='/logout'>Log-out</a> 
    <h1>Post a space</h1>
    <form action="/post_space" method="POST">

    <div>
    <label>User email:</label>
    <input type="text" name="email" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
    </div>
    <div>
      <label>Space name:</label>
      <input type="text" name="name" required pattern="^[\w\-\s]+$">
    </div>

    <div>
      <label>Space description:</label>
      <input type="text" style="height:200px; width:600px;" name="description" required pattern="^[\w\-\s]+$">
    </div>

    <div>
      <label>Price per night:</label>
      <input type="text" name="price_per_night" required pattern="^\d+$">
    </div>

    <div>
      <label>Available dates (format DD/MM/YYYY, separate each date by a comma):</label>
      <input type="text" name="available_dates" required pattern="^(\s{0,})(\d{2}\/\d{2}\/\d{4})(,\d{2}\/\d{2}\/\d{4}){1,}(\s){0,}$">
    </div>

    <div>
      <label>Image URL:</label>
      <input type="text" name="image_link" required pattern="[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)">
    </div>

      <input type="submit" value="Add your space to Makersbnb">
      </form>
  </body>
</html>