<!DOCTYPE html>
<html>

<body>
  <div>
    <a href='/signup'>Sign-up</a> | <a href='/login/form'>Log-in</a>  | <a href='/logout/form'>Log-out</a>
  </div>
  <h1>Book a Space</h1>
  <div>
  <div>
      <a href='/post_space'>Add a new space</a>
      <p>
      Press on the images to go to the individual space page.
      </p>
  </div>
  
  <div>
    <% @spaces.each do |space| %>
  <div>
    <b><%= space.name %></b>
    <p>
    <%= space.description %> 
    <div>
    <a href='/<%= space.id %>'><img src="<%= space.image_link %>" alt="Image of the space" style="width:100px;height:100px;"></a>
    </div>
    </p>
    </div> 
    <% end %>  
    </div>
    </div>
  </body>
</html>